################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/multicast_client/.vs/multicast_client
